<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-4 text-secondary">
      Pieter
      <span class="text-primary">van Ede</span>
    </h1>
    <!--<div class="subheading mb-5">
      3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
      <a href="mailto:name@email.com">name@email.com</a>
    </div>-->

    <p class="lead">
      Welcome to my website! Let me introduce myself, I am Pieter van Ede, software engineer by trade. I'm a proud
      husband and father of two lovely children.
    </p>
    <p class="lead">
      I am an experienced Java full stack software engineer having a passion for building great software that simply
      works. This means an interest in back-end, front-end en software pipeline technologies. I've successfully used
      quite a number of technologies (read more about it on this website).
    </p>
    <p class="lead">
      But in my opinion, building software is not only about technologies, but also on the people working with them. I
      do enjoy contributing to the software development team in roles where I can help the team, such as a team lead or
      architect.
    </p>
    <p class="lead mb-4">
      Lastly I also like to keep my and others computers running smoothly, which landed me some voluntary positions as
      system administrators. I also like to tinker with hobby projects such as flashing custom Android roms on phones,
      putting a home-build mediacenter into action, etc.
    </p>

    <div class="social-icons">
      <a class="social-icon" href="https://www.linkedin.com/in/pieter-van-ede-09824818/" title="LinkedIn"
        ><fa-icon [icon]="iconLinkedin"></fa-icon
      ></a>
      <a class="social-icon" href="https://gitlab.com/pjede" title="GitLab"><fa-icon [icon]="iconGitLab"></fa-icon></a>
      <a class="social-icon" href="https://github.com/PieterVanEde" title="GitHub"
        ><fa-icon [icon]="iconGitHub"></fa-icon
      ></a>
    </div>
  </div>
</section>
