// Pre-state grayscale colors used in other variables
$gray-800: #343a40;

// Override Bootstrap color system
$orange: #bd5d38;

// Override Bootstrap default state colors
// $primary: $orange;
$primary: #052c65;
$secondary: #fd7e14;
$dark: #cfe2ff;
$navbar-dark-color: $dark;
$navbar-dark-hover-color: lighten($navbar-dark-color, 15%);

// Override Bootstrap typography variables
$font-family-base: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 700;

$headings-color: $gray-800;

$h1-font-size: 6rem;
$h2-font-size: 3.5rem;
$h3-font-size: 2rem;

// Spacing variable to set the sidebar base width
$sidebar-base-width: 17rem;

// Spacing variable to add padding to the top of the body element that matches the height of the navbar
$navbar-base-height: 3.375rem;
